*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page{
	width: 900px;
	margin: 0 auto;
	
}

ul{

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D2C39;
    text-align: center;
    width: 410px;
    margin: 0 auto;
    text-align: center;
}
li{
	float: left;
}

a {
	display: block;
    padding: 8px;
    font-size: 20px;
    color: White;
}
.menu{
	height: 100px;
	background-color: #8E5349;
	text-align: center;
	padding-top: 20px;
	text-align: center;
}


.sidebar{
	height: 500px;
	width: 200px;
	padding: 10px;
	background-color: rgba(177,64,50, 0.5);
	float: left;
}

.content {
	height: 500px;
	width: 650px;
	float: left;
	padding: 20px;
	background-color: rgba(245,245,245, 0.5);

}

.footer{
	clear: both;
	/*background-color: #D6E9FE;*/
	background-color: rgba(14,134,164, 1);
	/*border: 5px solid red;*/
}

.clear:after{
	content: "";
	clear: both;
	display: block;
}

.container{
	background-image: url("../images/dcvmarvel.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;	
}
 

.column{
	background-color: #B2D6FF;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
}

.article-image{
	float: left;
	height: 200px;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 2px solid black;
}

p{
	margin-bottom: 20px;
}

.avatar{
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	
}

.username{
	margin-top: 30px;
}

.comment{
	margin: 10px;
	overflow: hidden;
}



 